* {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  background-color: #000;
}

body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  overflow: hidden;
  margin-top: 20vh;
}

p {
  font-size: 40px;
  font-family: sans-serif;
}

.title {
  font-size: 10vw;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.join-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 45px;
  transition: background-color 0.3s, color 0.3s;
}

.join-button:hover {
  background-color: black;
  color: white;
}

.card {
  perspective: 1000px;
  width: 1000px;
  height: 500px;
}

.rotating-box {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
  position: relative;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0, 0, 0, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.html {
  cursor: none;
}

@media (max-aspect-ratio: 1/1) {
  .title {
    font-size: 20vw;
  }
  iframe {
    display: none;
  }
  p {
    font-size: 50px;
  }
}